
*{	margin: 0;
	padding: 0;
}
a,a:hover{
	text-decoration: none;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	background: url(../img/sushi.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 10%;
}
.nav-link{
	font-family: 'Montserrat', sans-serif;
	color: #9baf6d !important;
	font-size: 35px;
	font-weight: 300;
	text-transform: uppercase;
}
.nav-item{
	margin-left: 10px;
}
.navbar{
	padding: 37px 0px;
}
.susi-des{
	padding: 18px 0px;
}
.susi-des img{
	margin: 44px 0px;
}
.susi-des h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 56px;
	color: #9baf6d;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: -14px;
}
.susi-des h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 78px;
	color: #9baf6d;
	text-transform: uppercase;
	font-weight: 700;
	
}
.susi-des button{
	font-family: 'Montserrat', sans-serif;
	background: #565c4ba3;
	color: #9baf6d;
	padding: 13px 27px;
	border: none;
	font-size: 49px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 97px;
	transition: 0.5s;
}
.susi-des button:hover{
	background: #3d3c42;
	color: #ff5b00;
	transform: scale(1.2);
	transition: 0.5s;
}
/*.....actually.....*/

.actually{
	background: #212121;
}
.actually-text{
	padding: 164px 94px;
}
.actually-text h6{
	font-family: 'Knewave', cursive;
	font-size: 29px;
	color: #9baf6d;
  	padding-bottom: 24px;
	font-weight: 200;
}
.actually-text p{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: white;
	font-weight: 200;
}
.actually-img{
	padding-left: 23px;
}

.tastes{
	background: #45493b;
	padding: 100px 0px;
}
.tastes-text{
	padding-left: 50px;
}
.tastes-text img{
	padding-bottom: 16px;

}
.tastes-text h6{
	font-family: 'Knewave', cursive;
	font-size: 25px;
	color: white;
	padding-bottom: 20px;
}
.tastes-text p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: 100;
}

/*.....tradition section.....*/
.tradition{
	background: #212121;
	padding: 90px 0px;
	
}
.tradition-text{
	background: #45493b;
	text-align: center;
	padding: 30px 0px;
}
.tradition-text h3{
	font-family: 'Knewave', cursive;
	font-size: 41px;
	color: #afc67b;
}
.tradition-text h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	color: white;
	font-weight: 200;
	text-transform: uppercase;
}
.plat-item{
	background: #45493b;
	text-align: center;
}
.plate-img{
	padding-right: 35px;
}
.plate-text{
	padding: 40px 44px;
}
.plate-text h5{
	font-family: 'Knewave', cursive;
	font-size: 29px;
	color: #afc67b;
	padding-bottom: 16px;	
}
.plate-text p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: 200;
	p
}
.plate-text h6{
	font-family: 'Knewave', cursive;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

/*.....simple section.....*/
.simple{
	background: #3e4136;
	padding: 100px 0px;
	text-align: center;
}
.simple-text{

}
.simple-text h3{
	font-family: 'Knewave', cursive;
	font-size: 41px;
	color: #afc67b;	
}
.simple-text p{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
	padding: 30px 207px;
	font-weight: 300;
}

/*.....discover section.....*/
.discover{
	width: 100%;
	background: url(../img/sushi-12.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200vh;
	position: relative;
}
.new-discover{
	background: url(../img/sushi-18.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 80vh;
	position: absolute;
	width: 100%;
	bottom: 46%;
}
.new-discover-text{
	padding: 18px 0px;
	text-align: center;
}
.new-discover-text h1{
	font-family: 'Knewave', cursive;
	font-size: 70px;
	color: white;
}
.new-discover-text h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
}
.menu{
	padding: 16px 0px;
}
.menu span {
	height: 80px;
    width: 80px;
    background: #c5c6c4;
    display: inline-block;
    text-align: center;
    line-height: 74px;
    border-radius: 50%;
}
.menu h6{
	font-family: 'Knewave', cursive;
	color: #e7e7e7;
	font-size: 25px;
}
.menu p{
	font-family: 'Montserrat', sans-serif;
	color: #e7e7e7;
	font-size: 16px;
	font-weight: 200;
}
/*.....book section.....*/
.book{
	background: #212121;
	padding: 60px 0px;	
}
.book h1{
	font-family: 'Knewave', cursive;
	color: #e7e7e7;
	font-size: 77px;
	text-align: center;
	padding-bottom: 16px;
}
.formbox-item{
	padding-bottom: 30px;
}
.formbox label{
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 10px;
}
.formbox input{
	background: transparent;
	width: 100%;
    height: 35px;
    border: 2px solid white;
    padding: 0px 20px;
    color: white;
    border-radius: 10px;
}
.formbox select{
	background: transparent;
	width: 100%;
    height: 35px;
    border: 2px solid white;
    padding: 0px 20px;
    color: white;
    border-radius: 10px;  
}
.formbox-submit{
	margin-left: 20px;
	padding-top: 14px;
}
.formbox-submit input{
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	width: 100%;
    height: 35px;
    border: 2px solid white;
    padding: 0px 20px;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.5s;
}
.formbox-submit input:hover{
	background: #f60032;
	transform: scale(1.2);
	transition: 0.5s;
}
/*.....suchi-test section.....*/

.suchi-test{
	background: #383b32;
	padding: 70px 40px;
}
.ipsum-text{
	padding-bottom: 30px;
}
.ipsum-text h1{
	font-family: 'Knewave', cursive;
	font-size: 70px;
	color: #afc67b;
	text-align: center;
}
.ipsum-text h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	text-align: center;
}
.col-md-4{
	padding-left: 51px;
}
.t-body{
	background: #e5e5e5;
	padding: 23px;
    margin-right: -29px; 
}
.t-body h6{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #4f4e4e;
	padding-bottom: 12px;
}
.t-body p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #4f4e4e;
}
.t-body h5{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #4f4e4e;
}
.t-body .line{
	border: 4px solid #afc67b;
	width: 104px;
}

/*........steward section.....*/

.steward{
	background: #212121;
	text-align: center;
	padding: 40px 0px;
}
.steward-text p{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #afc67b;
	font-weight: 300;
	padding: 0px 23%;
	padding-top: 20px;
}
.steward-text h5{
	font-family: 'Knewave', cursive;
	font-size: 29px;
	color: #afc67b;

}
.social-icon{
	padding-top: 20px;
}
.social-icon ul li{
	list-style: none;
	display: inline-block;
	margin-right: 12px;
}
.social-icon ul li a i{
	font-size: 27px;
    color: #212121;
    height: 45px;
    width: 45px;
    background: white;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    transition: 0.5s;
}
.social-icon ul li a i:hover{
	background: #afc67b;
	transform: scale(1.2);
	transition: 0.5s;
}
/*........about section.....*/

.about{
	background: #33362f;
	padding: 55px 0px;
}
.about-text h5{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: #e7e7e7;
	font-weight: 600;
}
.about-text p{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #e7e7e7;
	font-weight: 300;
	padding-top: 20px;
}
.about-team h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #e7e7e7;
	font-weight: 600;
	padding-bottom: 20px
}
.about-team h6{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #e7e7e7;
	font-weight: 600;
}
.about-join h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #e7e7e7;
	font-weight: 600;
	padding-bottom: 20px
}
.about-join h5{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #e7e7e7;
	font-weight: 300;
}